@import "../Common/Styles/sass/variables";
@import "../Common/Styles/sass/mixins";


.block {
    width: 100%;
    height: 80px;
    justify-content: flex-end;
    @include block($promeryColor);
    position: fixed;
    z-index: 100;

}