.block {
    background-color: rgba(238, 108, 214, 0.18);
    display: flex;
    align-items: center;
}

.container {
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: rgba(53, 175, 175, 0.38);
}

.title {
    background-color: rgba(100, 149, 237, 0.25);
}

.form {
    width: 280px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item{
    display: flex;
    flex-direction: column;
}