@import "../Common/Styles/sass/variables";
@import "../Common/Styles/sass/mixins";


.block {
  @include block($bgColor1);


  .container {
    @include context(flex-start);
    flex-direction: column;


    .form {
      margin-top: 35px;
      width: 540px;

      display: flex;
      flex-direction: column;
      align-items: center;
      /*до тех пор, пока ширина от 0 до 550, мы выполняем это*/
      @media screen and (max-width: 770px) {
        width: 100%;
      }
    }
    .form input, .form textarea {
      width: 100%;
      height: 32px;
      margin-bottom: 1rem;
      padding: 0 15px;


      background: $bgColor2;
      outline: none;
      border: 1px solid black;

      font-family: inherit;
      &:focus{
        border: 2px solid transparent;
      }
    }

    .form textarea {
      min-height: 150px;
      padding: 15px;
    }
    .formButton {
      @include text($swcondTextStyle, 14px, 1.2);
      text-transform: uppercase;
      letter-spacing: 1px;

      padding: 7px 20px;
      max-width: 170px;
      //для стиля кнопки
      background: transparent;
      border: none;
      //для афтер
      z-index: 0;
      position: relative;
    }
    .formButton::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 10px;
      width: 50%;
      background: $promeryColor;
      z-index: -1;
      margin: 0 auto;
      transition: all 0.2s ease-in-out;
    }
    .formButton:hover {
      text-decoration: none;
      &:after{
        width: 100%;
        height: 110%;
        transition: all 0.3s ease-in-out 0s;
      }
    }
  }
}



