@import "../Common/Styles/sass/variables";
@import "../Common/Styles/sass/mixins";

.block {
  @include block($bgColor1);

  .container {
    @include context(flex-start);
    flex-direction: column;
    justify-content: flex-start;

    .skilsContainer {
      @include itemsContainer();

      @media screen and (max-width: 972px) {
        justify-content: center;
      }
    }
  }
}



