@import "../Common/Styles/sass/variables";
@import "../Common/Styles/sass/mixins";


.block {
  min-height: 100vh;
  position: sticky;
  @include block(0);
  .particles{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    background-color: white;
  }
  .container {
    @include context(space-between);

    .textContainer {
      margin-bottom: 50px;
      width: 500px;
      height: 100%;

      span {
        @include text($swcondTextStyle, 16px, 1.8);

        &:nth-child(2) {
          @include text($mainTextStyle, 50px, 1.2);
          letter-spacing: 5px;

          position: relative;
          display: inline-block;
          margin: 0;
          z-index: 22;

          span {
            @include text($mainTextStyle, 50px, 1.2);
            letter-spacing: 5px;

            position: relative;
            display: inline-block;
            margin: 0;
            z-index: 22;

            &:before {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              height: 20px;
              width: 100%;
              z-index: -1;
              background: $promeryColor;
            }
          }
        }
      }
    }

    .textContainer h1 {
      @include text($swcondTextStyle, 27px, 1.8);
      margin: 0;
    }
    .omg {
      position: relative;
      display: table;
      .photo {
        width: 300px;
        height: 430px;
        background: antiquewhite;
        position: relative;
        z-index: 22;
      }
      //&:hover{
      //  transform:  scale(1.005,1.005);
      //  transition: 0.5s;
      //}

      .photoSpan {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 21;
        height: 110%;
        width: 104%;
        border: 5px solid $promeryColor;
        right: 0;
        margin-left: 8%;
        margin-top: -8%;
        box-sizing: border-box;

      }
    }
    @media screen and (max-width: 1161px) {

        justify-content: center;

    }
  }

}


