.block {
    min-height: 720px;
    background-color: rgba(255, 160, 218, 0.74);
}
.container {
    min-height: 720px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.photo {
 width: 300px;
    height: 400px;
    background-color: antiquewhite;
}

.text {
    width: 300px;
    background-color: antiquewhite;
}
