@import "../../Common/Styles/sass/variables";
@import "../../Common/Styles/sass/mixins";


.oneSkilsContainer {
  background-color: rgba(101, 73, 73, 0.16);
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 35px;


  .title {
    @include text($mainTextStyle, 23px, 1.2);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: rgb(200, 200, 200);
      width: 100%;
      height: 1px;
      bottom: -20px;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }



    .items {
      height: 100px;
      display: flex;
      align-items: center;

      .one_skil {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        width: 100px;
        /*.icon {
          height: 50px;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;

          &::before {
            font-size: 80px;


            position: absolute;
            color: $promeryColor;
          }

        }*/

        .img{
          height: 50px;
          width: 50px;
          // для картинки
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          position: relative;
        }
        .skil {
          @include text($swcondTextStyle, 17px, 1.2);
        }
      }

    }
  @media screen and (max-width: 485px) {
    width: 300px;
  }
}











