.skil {
    width: 250px;
    background-color: rgba(100, 149, 237, 0.19);
    flex-direction: column;
    display: flex;
    /*align-items: center;*/
    /*text-align: center;*/
    /*justify-items: center;*/
}

.icon {
    width: 250px;
    height: 100px;
    background-color: black;
}
.h3{
    margin: 10px
}
.description{
    margin: 10px
}

