@import "../../Common/Styles/sass/variables";
@import "../../Common/Styles/sass/mixins";

.oneProjectsContainer {
  margin-bottom: 30px;
  width: 48%;
  background-color: $bgColor1;
  display: flex;
  flex-direction: column;

  .img {
    height: 300px;
    // для картинки
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    // для кнопки внутри
    display: flex;
    justify-content: center;
    align-items: center;
// делает катину темнее
    &::before {
      position: absolute;
      content: "";
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }
   .button::after {
     width: 100%;
     height: 110%;
   }


  }

  .info {
    padding: 15px 20px;

    .h3 {
      @include text($swcondTextStyle, 17px, 1.2);
      text-transform: capitalize;
      letter-spacing: 1px;


      margin: 0;
    }

    /*.description {
      @include text("'Poppins', sans-serif", 16px, 1.8);
    }*/
  }

  @media screen and (max-width: 610px) {
    width: 300px;
  }
}











