@import "../Common/Styles/sass/variables";
@import "../Common/Styles/sass/mixins";

.block {
    @include block($bgColor2);
//346
    .container {
        @include context(space-around);
        flex-direction: column;
        margin: 50px auto;
        .name {
            @include text($mainTextStyle, 22px, 1.2);
            font-weight: 700;
            letter-spacing: 3px;
            margin-bottom: 20px;
        }
        .socialIcon {
            width: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .item {
                background-color: rgba(69, 32, 32, 0.1);
                width: 40px;
                height: 40px;
                margin: 0 10px 0 10px;

                display: flex;
                justify-content: center;
                align-items: center;
                &::before {
                    font-size: 30px;
                    position: absolute;
                    content: "♥";
                    color: $promeryColor;
                }
                &:hover{
                    border: 1px solid $textColor;
                    transition: all 0.3s ease-in-out 0s;
                }

            }
        }
        .finishDesc{
            margin-top: 30px;
            @include text($swcondTextStyle, 14px, 1.2);
            color: rgba(21, 20, 20, 0.5);
        }
    }
}






