@import "../Common/Styles/sass/variables";
@import "../Common/Styles/sass/mixins";

.block {
    @include block($bgColor2);
//346
    .container {
        @include context(space-around);
        flex-direction: column;
        margin: 50px auto;
        /*.name {
            @include text($mainTextStyle, 22px, 1.2);
            font-weight: 700;
            letter-spacing: 3px;
            margin-bottom: 20px;
        }*/
        .socialIcon {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .item {
                @include text($swcondTextStyle, 14px, 1.8);
                margin: 0 10px 0 10px;

            }
        }
        .finishDesc{
            margin-top: 30px;
            @include text($swcondTextStyle, 14px, 1.2);
            color: rgba(21, 20, 20, 0.5);
        }
    }
}






