@import "../../Common/Styles/sass/variables";
@import "../../Common/Styles/sass/mixins";


.oneSkilsContainer {
  margin-bottom: 50px;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;


  .icon {
    height: 80px;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.1);
    //line-height: 80px;
    //font-size: 30px;
    //text-align: center;
    // в будущем для картинки понадобится
    transform: rotate(45deg);
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .info {
    text-align: center;

    .h3 {
      @include text("'Piazzolla', serif", 16px, 1.2 );

      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;

      margin: 0 0 15px;
    }

    .description {
      @include text('Poppins', 14px, 1.8);

    }
  }
}












